.dh5rk {
  bh5ckground-color: #0c1927;
  color: white;
  mix-blend-mode: difference;
}

.resume{
	height: 50px;
}

.black-button {
	background-color:#000000;
	color:#ffffff;
	text-decorh5tion: none;
}