---
layout: page
title : Home
---

<p>
Bienvenue !
</p>
<p>
Ce site a pour but me présenter brièvement mes projets github.
</p>

<h2>Articles </h2>

<div class="postCover">
{% for post in paginator.posts %}
	<div class="postItem">
		<a href="{{ post.url }}">
			<img class="postImage" src="/images/GitHub.png" />
			<div class="postTitle">{{ post.title }} - {{ post.date | date_to_string }}</div>
		</a>
	</div>	
{% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>