<div class="footer">
  <span id="footer-links">
  	<a href="http://www.banana-station.fr/" class="footer-link">Banana Station</a>
	</br>
    <a href="https://twitter.com/VincentVoyer1" class="footer-link">Twitter</a> <span class="separator">&bull;</span>
    <a href="https://github.com/VincentVoyer" class="footer-link">GitHub</a>
	</br>
	<a href="https://www.linkedin.com/pub/vincent-voyer/89/830/94a" class="footer-link">Linked In</a><span class="separator">&bull;</span>
	<a href="https://remixjobs.com/cv/Vincent-Voyer/53b308541d14d" class="footer-link">Remix Jobs</a>
	</br>
    <a href="{{site.url}}/about/" class="footer-link">About</a>
    </br>
    <a href="{{site.url}}/contact/" class="footer-link">Contact</a>
  </span>
</div>